*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: rgb(14, 14, 14);
    max-width: 300px;
    border-radius: 20px;
    padding: 5px;
}
.flex {
    display: flex;
}
#screen{
    width: 100%;
    padding: 20px 10px;
    font-size: 28px;
    color: rgb(97, 156, 207);
    text-align: end;
    height: 100px;
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}
button{
    height: 60px;
    width: 60px;
    background-color: rgb(69, 69, 69);
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border: none;
    margin: 5px;
    border-radius: 10px;
    
}
button:active{
    background-color: rgb(90, 89, 89);
}
.blue{
    color: rgb(61, 138, 240);
    background-color: rgb(31, 34, 42);
}
.blue:active{
    background-color: rgb(55, 55, 70);
}
#equal{
    display: flex;
    width: 270px;
}