.shadow{
    width: 500px;
    height:500px;
    border: 1px solid;
    margin: 0 auto;
    position: relative;

}
.ball{
    width: 100px;
    height: 100px;
    top: 200px;
    left: 200px;
    border-radius: 50%;
    position: absolute;
    transition-property: top, left;
    transition-duration: 2.5s, 1s;
    
}
.ball1{
    background-color: blueviolet;
    z-index: 3;
}
.ball2{
    background-color: rgb(40, 175, 81);
    z-index: 2;
    transition-property: top,left, border-radius, background-color;
    transition-duration: 2.5s, 1s, 3s, 3s;


}
.ball3{
    background-color: rgb(205, 222, 28);
    z-index: 1;
    transition-delay: 0s, 1.5s;
}
.shadow:hover .ball1{
    top: 0;
    left:0;
}
.shadow:hover .ball2{
    top: 0;
    left:400px;
    border-radius: 5px;
    background-color: brown;
}
.shadow:hover .ball3{
    top: 400px;
    left:400px;
}