body{
    margin: 0;
}
.position{
    position: relative;
    height: 100px;
    width:200px;
    margin: 400px auto;
}
.checkbox{
    width: 200px;
    height: 100px;
    background-color: rgb(226, 226, 226);
    border-radius: 100px;
    border: 2px solid rgb(125, 125, 125);
    position: absolute;
    top: 0;
    left: 0;
}
.button{
    height: 100px;
    width:100px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 5px 0 rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    transition: 1s;
}
input:checked + .checkbox .button{
top: 0;
left:100px;
}
input:checked + .checkbox{
    background-color: rgb(117, 175, 211);
}
input{
    width: 200px;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}